
@media (min-width: 576px) {
  .burundi{
    background-image: url(/images/burundi.jpg);
  }
  .kenya{
    background-image: url(/images/kenya.png);
  }
  .rwanda{
    background-image: url(/images/rwanda.jpg);
  }
  .sudan{
    background-image: url(/images/sudan.jpg);
  }
  .tz{
    background-image: url(/images/tz.jpg);
  }
  .uganda{
    background-image: url(/images/uganda.jpg);
  }
}



