.header-component-header{
  background-image: url(/images/header.jpg);
  background-position: bottom;
  background-size: 2000px 20px;
  background-repeat: no-repeat;
}
.header-component-margin{
  margin-bottom: 20px;
}
