@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
html, body {
  height: 100%;
}
html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent;
}
body {
  color: #888;
  font-family: "Open Sans",sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.8;
}
p {
  color: #8892a0;
}
